@media only screen and (max-width: 768px)
  html
    font-size: 14px
  .header
    padding: 0 1.3rem
    &_logo
      display: none
    &_burger
      display: block
      position: relative
      width: 30px
      height: 25px