@media only screen and (max-width: 768px)
  html
    font-size: 14px
  .header
    &_logo
      display: none
    &_burger
      display: block
      position: relative
      width: 30px
      height: 25px
  .sidebar
    position: absolute
    background-color: $white
    border-radius: 3px
    z-index: 1000
    &-enter
      top: 0
      left: -100%
      &-active
        top: 0
        left: 0
        transition: 0.3s
        
    &-exit
      top: 0
      left: 0
      &-active
        top: 0
        left: -100%
        transition: 0.3s
  .content
    width: 100%