.profile
  display: flex
  justify-content: space-between
  &_photo
    //width: 20rem
    //height: 15rem
    border-radius: 0.25rem
    background-color: $white
    padding: 0.5rem 0.4rem
  &_info
    width: 100%
    padding-left: 1rem
  &_title
    margin-bottom: 0.7rem
  &_status
    max-width: 34.5rem
  &_subtext
    margin-bottom: 0.7rem