@keyframes ldio-53f2lp3q7g {
    0% {transform: translate(-50%, -50%) rotate(0deg);}
    100% {transform: translate(-50%,-50%) rotate(360deg);}
}
.ldio-53f2lp3q7g div {
    position: absolute;
    width: 26.84px;
    height: 26.84px;
    border: 4px solid #2f2926;
    border-top-color: transparent;
    border-radius: 50%;
}
.ldio-53f2lp3q7g div {
    animation: ldio-53f2lp3q7g 0.78125s linear infinite;
    top: 122px;
    left: 122px
}
.loadingio-spinner-rolling-exizz67qbmf {
    width: 244px;
    height: 244px;
    display: inline-block;
    overflow: hidden;
    background: #f1f2f3;
}
.ldio-53f2lp3q7g {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #edeef0;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-53f2lp3q7g div {box-sizing: content-box;}